.menu-button {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all .5s ease-out; }
  .menu-button .menu-button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #000;
    opacity: .5;
    transition: all .5s ease-out; }
  .menu-button.close .menu-button-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); }
  .menu-button.close .menu-button-line:nth-child(2) {
    opacity: 0; }
  .menu-button.close .menu-button-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(242, 242, 242, 0.85);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all .5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(255, 255, 255, 0.85);
    transform: translate3d(0, 100%, 0);
    transition: all .5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .menu-branding-avatar {
      width: 250px;
      height: 250px;
      background: url(../img/avatar.png);
      border-radius: 50%;
      border: solid 1px #fa4c4c; }
  .menu .nav-items {
    transform: translate3d(600px, 0, 0);
    transition: all .5s ease-out; }
    .menu .nav-items.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-items.current > a {
      color: #fa4c4c; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 300;
    color: #000;
    transition: all .5s ease-out; }
    .menu .nav-link:hover {
      color: #fa4c4c; }

.nav-items:nth-child(1) {
  transition-delay: 0.1s; }

.nav-items:nth-child(2) {
  transition-delay: 0.2s; }

.nav-items:nth-child(3) {
  transition-delay: 0.3s; }

.nav-items:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background-color: white;
  color: #000;
  opacity: 1;
  height: 100%;
  margin: 0;
  font-family: 'Special Elite', cursive;
  line-height: 1.5; }
  body#img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }

h1, h3 {
  margin: 0;
  font-weight: 200;
  color: black; }
  h1.heading, h3.heading {
    font-size: 2.5rem; }

a {
  color: black;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #fa4c4c; }

main {
  padding: 4rem;
  min-height: calc(100vh - 120px); }
  main .icon {
    margin-top: 3rem; }
    main .icon a {
      padding: .3rem;
      color: #fa4c4c; }
      main .icon a:hover {
        color: #fb7e7e;
        transition: all .5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 10vh; }

.about-intro {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'about-img bio bio' 'job-1 job-2 job-3';
  grid-template-columns: repeat(3, 1fr); }
  .about-intro .about-img {
    grid-area: about-img;
    margin: auto;
    border-radius: 50%;
    border: #fa4c4c 3px solid; }
  .about-intro .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-intro .job-1, .about-intro .job-2, .about-intro .job-3 {
    border-radius: 10px;
    color: white; }
  .about-intro .job-1 {
    grid-area: job-1; }
  .about-intro .job-2 {
    grid-area: job-2; }
  .about-intro .job-3 {
    grid-area: job-3; }
  .about-intro .job {
    background-color: #fb7e7e;
    padding: 0.5rem; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }
  .projects img {
    width: 100%;
    border: 3px #fa4c4c solid;
    border-radius: 10px; }
    .projects img:hover {
      opacity: .5;
      border-color: white;
      transition: all .5s ease-out; }

.btn, .btn-dark, .btn-light {
  isolation: isolate;
  display: block;
  padding: .5rem 1rem;
  border: 0;
  margin-bottom: .3rem;
  border-radius: 10px; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #fa4c4c;
    color: #000; }

.btn-dark {
  background: gray;
  color: white; }

.btn-light {
  background: white;
  color: #333; }

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem; }
  .contacts div {
    font-size: 1rem;
    border: 2px black solid;
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all .5s ease-out; }
    .contacts div:hover {
      padding: 0.5rem 1.5rem;
      background: #fa4c4c;
      color: #000; }
      .contacts div:hover span {
        color: #000; }

#footer {
  text-align: center;
  padding: 1rem;
  color: #000;
  height: 120px; }

.icon-footer {
  margin-top: 1.5rem; }
  .icon-footer a {
    padding: .2rem; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  .note {
    text-align: center; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .note {
    text-align: center; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .menu-branding-avatar {
      background: url(../img/smallavatar.png) no-repeat;
      width: 150px;
      height: 150px; }
  .about-intro {
    grid-template-areas: 'about-img' 'bio' 'job-1' 'job-2' 'job-3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .note {
    text-align: center; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; }
  .note {
    text-align: center; } }

@media screen and (max-width: 350px) {
  main {
    text-align: center; }
    main h1, main h2, main h3 {
      font-size: 1rem; }
  .menu-nav {
    height: 40vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 60vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .menu-branding-avatar {
      background: url(../img/smallavatar.png) no-repeat;
      width: 150px;
      height: 150px; } }

@media screen and (max-height: 600px) {
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .menu-branding-avatar {
      background: url(../img/smallavatar.png) no-repeat;
      width: 150px;
      height: 150px; } }

@media screen and (max-height: 420px) {
  .menu-nav {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 0vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .menu-branding-avatar {
      background: url(../img/smallavatar.png) no-repeat;
      width: 150px;
      height: 150px; } }
