$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(250, 76, 76);
$show-home-img: true;
$home-img: url(../img/background.jpg);
$back-ground-opacity: 0.5;

@mixin transition {
    transition: all .5s ease-out;
}

@mixin background{
    @if $show-home-img{
      &#img{
        background: $home-img;
        background-attachment: fixed;
        background-size: cover;

        
      }  
    }
}

// Set Text Color

@function set-text-color($color){
  @if (lightness($color) > 40){
    @return #000;
  }@else{
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSmall {
  @media screen and (max-width: 350px){
    @content;
  }
}

@mixin media{
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaResizeMid{
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaResizeLg{
  @media screen and (min-width: 769px) and (max-width: 1170px){
    @content;
  }
}

@mixin mediaResizeXL{
  @media screen and (min-width: 1171px){
    @content;
  }
}

@mixin mediaHeight{
  @media screen and (max-height: 600px){
    @content;
  }
}

@mixin mediaHeightSmall{
  @media screen and (max-height: 420px){
    @content;
  }
}