@import 'sub';
@import 'menu';

*{
    box-sizing: border-box;
}

body{
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    opacity: 1;
    height: 100%;
    margin: 0;
    font-family: 'Special Elite', cursive;
    line-height: 1.5;
} 

//Headings

h1, h3{
    margin: 0;
    font-weight: 200;
    color: rgb(0, 0, 0);

    &.heading{
        font-size: 2.5rem;
    }
}

a {
    color:black;
    text-decoration: none;
}

header{
    position: fixed;
    //make it always in the front
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    min-height: calc(100vh - 120px);

    .icon{
        margin-top: 3rem;
        
        a {
            padding: .3rem;
            color: rgb(250, 76, 76);

            &:hover{
                color: lighten($secondary-color, 10);
                @include transition();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 10vh;
        }
    }
}

.about-intro{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'about-img bio bio'
    'job-1 job-2 job-3';
    grid-template-columns: repeat(3, 1fr);

    .about-img{
        grid-area: about-img;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1, .job-2, .job-3{
        border-radius: 10px;
        color: white;
    }

    .job-1{
        grid-area: job-1;
    }
    
    .job-2{
        grid-area: job-2;
    }
    
    .job-3{
        grid-area: job-3;
    }
    
    .job{
        background-color: lighten($secondary-color, 10);
        padding: 0.5rem;
    }
}

//Projects Page

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    img{
        width: 100%;
        border: 3px $secondary-color solid;
        border-radius: 10px;

        &:hover{
            opacity: .5;
            border-color: $primary-color;
            @include transition;
        }
    }
}

//Button

.btn {
    isolation: isolate;
    display: block;
    padding: .5rem 1rem;
    border: 0;
    margin-bottom: .3rem;
    border-radius: 10px;

    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: white;
}

.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

//Contacts

.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

    div{
        font-size: 1rem;
        border: 2px black solid;
        border-radius: 10px;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include transition;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}


  
#footer{
    text-align: center;
    padding: 1rem;
    color: set-text-color($primary-color);
    height: 120px;
}

.icon-footer{
    margin-top: 1.5rem;
    
    a{
        padding: .2rem;
    }
}

@import 'responsive';